<table class="table">
    <tbody>
    <tr>
        <td>Модель</td>
        <td>{{ product.model }}</td>
    </tr>
    <tr>
        <td>Производитель</td>
        <td>{{ product.manufacturer }}</td>
    </tr>
    <tr>
        <td>Материал</td>
        <td>{{ product.material }}</td>
    </tr>
    <tr>
        <td>Сезон</td>
        <td>{{ product.season }}</td>
    </tr>
    <tr>
        <td>Цвет</td>
        <td>{{ product.color }}</td>
    </tr>
    <tr>
        <td>Размер</td>
        <td>{{ product.size }}</td>
    <tr>
        <td>Пол</td>
        <td>{{ product.gender }}</td>
    </tr>
    </tbody>
</table>
